body {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    color: white;
    display: block;
}

#board {
    background-image: url("assets/bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

#scoreMaximum {
    font-size: 16px;
    margin: 0px;
    color: white;
}

#logo {
    width: 50%;
    height: 30%;
}

#formPlayer{
display: flex;
width: 25%;
height: 22%;
border: 1px solid;
position: absolute;
background-color: rgb(0, 183, 255);
border-radius: 10px;
z-index: 10;
align-items: center;
margin: auto;
flex-direction: column;
justify-content: space-around;
}

#play{
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    border-radius: 5px;
}

#player {
    border-radius: 5px;
    width: 150px;
    font-family: 'Barlow Condensed', sans-serif;
}

#Player {
    position: absolute;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    z-index: 100;
    width: 150px;
    height: 50px;
    left: 32%;
    top: 70px;
}

#Score {
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    z-index: 100;
    width: 150px;
    height: 50px;
    left: 62%;
    top: 70px;
}

#Perdu {
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    top: 210px;
    z-index: 9;
    width: 150px;
    height: 200px;
    left: 44%;
    text-align: center;
}

#floppy {
    width: 40px;
    height: 40px;
    position: absolute;
    user-select: none;
}

#enemy {
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

@keyframes moveSlideshow {

    100% {
      left: -50px;
    }
  }

#enemy_up {
    position: relative;
    display: block;
    left:100%;
    width: 44px;
    height: 160px;
    user-select: none;
}

#enemy_down {
    position: relative;
    display: block;
    left:100%;
    width: 44px;
    height: 160px;
    user-select: none;
}

